<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | holydraft</title>

    {# Optional: zusätzlicher Head-Inhalt pro Seite #}
    {% if head %}
      {{ head | safe }}
    {% endif %}
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
